body{
    margin:0px;padding:0;   /* margin:两控件间间距为0，padding:内边距离*/
  /*  font-family: 微软雅黑,sans-serif;*/
    background-color: rgba(220, 221, 221, 0.84); /* 设置背景色*/
}

#main{
    margin:0px auto; /*水平居中*/
    width:980px;
}

header{
    width:995px;
    height:90px;
    background: url(image/sys.jpg) no-repeat;
}

aside{
    margin-top:20px;
    width:180px;
    float:left;  /*靠左边显示*/
    height:400px;
    border-style: double;
   /* opacity: 0.9; 透明度*/
}

article{
    width:795px;
    margin-left:195px;
    height:400px;
    margin-top:20px;
    background-color: #fdffff;
    border-style: double;
}
